    * {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    
    .container {
        max-width: 1320px;
        padding: 0 15px;
        margin: 0 auto;
    }
    
    .header-main {
        position: absolute;
        width: 100%;
    }
    
    section.header-main.darkHeader {
        z-index: 9;
    }
    /* Header start */
    
    .header-inner.header-left {
        display: flex;
    }
    
    .header-inner-main {
        display: flex;
        padding: 15px 0;
        align-items: center;
    }
    
    .header-inner-main .header-inner {
        width: 33.33%;
    }
    
    .navbar-list {
        display: flex;
        gap: 10%;
        color: #dcdcdf;
        list-style: none;
    }
    
    .nava {
        text-decoration: none;
        color: #dcdcdf;
    }
    
    .navbar .nava:hover {
        color: #007aff;
        cursor: pointer;
    }
    
    .navbar:hover {
        color: #007aff;
        cursor: pointer;
    }
    
    .navbar {
        transition: 0.6s ease;
    }
    
    .header-inner.header-right {
        gap: 15px;
        align-items: center;
        justify-content: end;
        display: flex;
    }
    
    button.btn-getstarted {
        padding: 10px 25px;
        font-size: 15px;
        color: white;
        text-align: center;
        border: #007aff;
        border-radius: 8px;
        background-color: #175cff;
        transition: 0.6s ease;
        border: 1px solid #175cff;
        cursor: pointer;
    }
    
    button.btn-getstarted:hover {
        background: transparent;
        color: #fff;
        cursor: pointer;
        border: 1px solid #fff;
    }
    
    section.header-main.darkHeader {
        position: fixed;
        background: #fff;
        transition: 0.6s ease;
    }
    
    section.header-main.darkHeader .navbar-list .nava {
        color: #040406;
    }
    
    section.header-main.darkHeader .navbar-list .nava:hover {
        color: #0000e6;
    }
    
    section.header-main.darkHeader button.btn-getstarted:hover {
        background: #43276f;
        cursor: pointer;
        border: 1px solid #43276f;
    }
    
    img.logo.hide {
        display: none;
    }
    
    img.logo-2.hide-2 {
        display: none;
    }
    /* Header end */
    /* Main Section */
    
    .hero-section {
        background: url("../img/bannner-bg.png") no-repeat center center / cover;
        width: 100%;
        padding: 14% 0%;
        height: calc(100% - 14%);
    }
    
    .herocontiner-main {
        display: flex;
        align-items: center;
    }
    
    .hero-inner.hero-left .tittle-txt {
        color: #ffb116;
        font-size: 24px;
    }
    
    .hero-inner.hero-left .bigtittle-txt {
        color: #FFF;
        font-size: 50px;
        grid-auto-columns: 1%;
    }
    
    h2.sub-txt {
        font-size: 24px;
        margin-top: 1%;
        color: #fff;
        font-weight: 350;
    }
    
    button.btn-exploremore {
        margin-top: 3%;
        padding: 10px 25px;
        font-size: 15px;
        color: white;
        text-align: center;
        border: #007aff;
        border-radius: 8px;
        background: transparent;
        transition: 0.6s ease;
        border: 1px solid #fff;
        cursor: pointer;
    }
    
    button.btn-exploremore:hover {
        background: #fff;
        cursor: pointer;
        color: rgb(0, 0, 0);
        border: 1px solid #fff;
    }
    
    .image-class {
        text-align: center;
        position: relative;
    }
    
    .image-class::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 50%;
        -webkit-transform: translate(52%, -51%);
        transform: translate(50%, -50%);
        border-radius: 50%;
        background-color: #f6c37b;
        width: 500px;
        height: 500px;
        z-index: 0;
    }
    
    .hero-inner.hero-left {
        width: 50%;
        margin: 0 auto;
        margin-left: 0px;
    }
    
    .hero-inner.hero-right {
        display: block;
        margin: 0 auto;
        width: 50%;
    }
    
    .image-class img {
        position: relative;
        width: 80%;
        max-width: 400px;
        max-height: 400px;
    }
    /*Explore Premium Features Section css*/
    
    .premium-features-section {
        text-align: center;
        padding: 40px;
        font-size: 32px;
        font-weight: 700;
    }
    
    p.premium-features-subtext {
        font-size: 14px;
        font-weight: 500;
    }
    
    h3 {
        color: #071c4d;
        font-size: 36px;
        font-weight: bold;
    }
    
    p.premium-features-subtext {
        font-size: 14px;
    }
    
    h3.card-maintxt {
        font-weight: 500;
        color: #071c4d;
        font-weight: 600;
        font-size: 23px;
    }
    
    p.premium-features-subtext {
        color: grey;
    }
    
    p.card-subtxt {
        color: gray;
        font-size: 15px;
    }
    
    .card {
        display: flex;
        margin: 10px;
        padding: 20px;
        width: 50%;
        height: 120px;
        border-radius: 7px;
        background: #f2f3f4;
        border: 1px solid #f2f3f4;
    }
    
    .card:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        cursor: pointer;
        border: 1px solid #445cff;
    }
    
    .main-card-section {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    i.edit,
    i.pen,
    i.dowanload,
    i.bell {
        font-size: 20px;
    }
    
    .icon-card-edit {
        /* direction: initial; */
        padding: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        border-radius: 5px;
        margin-right: 20px;
        display: flex;
        color: #d922ff;
        background-color: #fbe8ff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        /* text-align: center; */
        /* margin-top: 3px; */
    }
    
    .icon-box {
        height: 50px;
        width: 50px;
        justify-content: center;
        align-items: center;
    }
    
    .icon-card-bell {
        /* direction: initial; */
        padding: 20px;
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 20px;
        display: flex;
        background-color: #ffebef;
        color: #ff3e66;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        /* text-align: center; */
        /* margin-top: 3px; */
    }
    /* i.pen.fa-solid.fa-pen-nib {
    font-size: 20px;
} */
    
    .icon-card-pen {
        /* direction: initial; */
        padding: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        margin-left: 5px;
        margin-right: 20px;
        display: flex;
        background-color: #e6f4ec;
        color: #0e9541;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        /* text-align: center; */
        /* margin-top: 3px; */
    }
    
    .icon-card-download {
        /* direction: initial; */
        padding: 20px;
        margin-top: 5px;
        border-radius: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 20px;
        display: flex;
        background-color: #e6f4ec;
        color: #3987ff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }
    /*Features Section css*/
    
    .features-main {
        display: flex;
        align-items: center;
    }
    
    .features-inner.features-left {
        max-width: 50%;
        margin: 10% 0;
        margin-right: 5%;
    }
    
    .featres-inner.features-right {
        margin: 10% 0;
        max-width: 50%;
        margin-left: 5%;
    }
    
    h4.features-main-txt {
        font-size: 18px;
        color: #071c4d;
        font-weight: 600;
    }
    
    h2.features-subtext {
        font-size: 47px;
        color: #071c4d;
    }
    
    p.features-subtext-small {
        margin-top: 2%;
        color: gray;
        font-size: 18px;
        font-weight: 400;
    }
    
    i.circle-check.fa-solid.fa-circle-check {
        font-size: 18px;
        color: #9fd5b3;
        padding: 10px 6px 10px 0px;
    }
    
    .features-list {
        margin-top: 10px;
    }
    
    .features-list li {
        list-style: none;
    }
    
    .features-list li.features-li {
        width: 50%;
        padding-right: 20px;
    }
    
    .features-list ul {
        display: flex;
        flex-wrap: wrap;
    }
    
    .btn-learnabout {
        padding: 13px 35px;
        font-size: 15px;
        font-weight: 400;
        border: none;
        margin-top: 30px;
        color: white;
        background: #ff3e66;
        border-radius: 8px;
        cursor: pointer;
    }
    /*Quality-works-section css*/
    
    .quality-works {
        background-color: #f2f3f4;
    }
    
    .qualityimage img {
        width: 100%;
    }
    
    .quality-main {
        display: flex;
        align-items: center;
        padding: 8% 0px;
    }
    
    .quality-inner.quality-left {
        width: 50%;
        margin-right: 5%;
    }
    
    .quality-inner.quality-right {
        width: 50%;
        margin-left: 5%;
    }
    
    .qulity-card {
        gap: 10px;
        display: flex;
        background: white;
        /* box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.2); */
        margin: 20px 0;
        transition: 0.5s;
        border-radius: 10px;
        padding: 20px;
        align-items: center;
    }
    
    .qulity-card .icon {
        font-size: 22px;
    }
    
    .qulity-card:hover {
        color: #445cff;
        box-shadow: 0px 8px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.5s;
        cursor: pointer;
    }
    /*Powerful-works-section css*/
    
    .powerful-inner.quality-left {
        width: 50%;
        margin-right: 5%;
    }
    
    .powerful-inner.quality-right {
        width: 50%;
        margin-left: 5%;
    }
    
    .powerfulimage img {
        width: 100%;
        height: 100%;
    }
    
    .powerful-solutions-main {
        padding: 60px 0;
        display: flex;
        align-items: center;
    }
    
    section.powerful-solutions {
        background-image: url("../img/hero-dot-bg.png");
        background-position: center;
        background-color: #442772;
    }
    
    .count-box p {
        font-size: 28px;
        color: white;
        font-weight: 800;
    }
    
    .count-box {
        display: flex;
        align-items: center;
    }
    
    h2.powerful-subtext {
        font-size: 47px;
        font-weight: bold;
        color: #FFF;
    }
    
    h2.powerful-subtext {
        font-size: 2.5rem;
        font-weight: bold;
        color: #FFF;
    }
    
    p.powerful-subtext-small {
        font-size: 1rem;
        font-weight: 300;
        color: #d6c7c5;
    }
    
    .count {
        display: flex;
        align-items: center;
        margin-top: 40px;
    }
    
    .happy-users {
        margin: 7px 30px 0px 0px;
    }
    
    h2.happy-subtext-text {
        font-size: 16px;
        color: #d6c7c5;
        font-weight: 300;
    }
    
    h2.happy-subtext {
        font-weight: 800;
        font-size: 28px;
        color: #FFF;
    }
    
    .powerful-inner button {
        margin-top: 40px;
    }
    /*Vedio section css*/
    
    .video-section-main {
        display: flex;
        border-radius: 20px;
        height: 600px;
        background-image: url("../img/video-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        background-position: center;
        align-items: center;
        justify-content: center;
    }
    
    .video-section-main:before {
        content: "";
        border-radius: 20px;
        background: rgba(72, 43, 118, 0.7);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
    }
    
    .video-class {
        cursor: pointer;
        color: #f25767;
        position: relative;
        z-index: 20;
        background-color: #fff;
        height: 80px;
        display: block;
        width: 80px;
        text-align: center;
        line-height: 80px;
        border-radius: 50%;
        font-size: 20px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    
    .video-popup-hide .mfp-iframe {
        width: 100%;
        height: 600px;
        border-radius: 20px;
    }
    
    #video-popup-hide {
        display: none;
        transition: 5000s;
    }
    
    div#video-section-main {
        transition: 5000s;
    }
    
    a#video-close {
        display: none;
        color: gray;
        font-size: 25px;
        margin: 10px;
        flex-direction: row-reverse;
    }
    
    a#video-close:hover {
        color: red;
        transition: 0.05s;
        cursor: pointer;
    }
    
    a#video-btn {
        z-index: 2;
    }
    
    section.video-section {
        padding-top: 80px;
        padding-bottom: 80px;
        background: rgb(242, 243, 244);
    }
    /* Download Section CSS */
    
    .Download-Section-main h2 {
        justify-content: center;
        font-size: 40px;
        align-items: center;
        color: white;
        text-align: center;
        display: flex;
    }
    
    .Download-section {
        padding-top: 80px;
        padding-bottom: 80px;
        background-image: url("../img/app-download-cta.png");
    }
    
    button.btn-download {
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    button.btn-download {
        padding-right: 20px;
        padding-left: 20px;
        border: solid 1px white;
        border-radius: 5px;
        padding-top: 10px;
        background-color: #442772;
        padding-bottom: 10px;
    }
    
    .main-btntag {
        display: flex;
        align-items: center;
    }
    
    .icon-play {
        color: white;
        font-size: 23px;
        padding-right: 10px;
    }
    
    .btn-download:hover {
        background-color: white;
        transition: 00.05s;
    }
    
    .downloadbtn-txt {
        font-size: 12px;
        align-items: flex-start;
        color: white;
        font-weight: 400;
    }
    
    .download-btn {
        display: flex;
        align-items: center;
        border-radius: 5px;
        padding: 5px 15px 5px 15px;
        border: 2px solid #9b2cfa;
        width: max-content;
        color: white;
        margin-top: 42px;
    }
    
    .download-btn:hover {
        color: black;
        background-color: white;
        cursor: pointer;
        border: 2px solid #fff;
        transition: 0.3s;
    }
    
    .download-btn i.fa-brands.fa-google-play {
        font-size: 25px;
        padding-right: 15px;
    }
    
    .Download-Section-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*Footor CSS*/
    
    .footer-main {
        display: flex;
        align-items: center;
    }
    
    h2.copyright {
        color: #442772;
        font-weight: 500;
        font-size: 13px;
    }
    
    .footer {
        padding: 24px;
        color: #f2f3f4;
    }
    
    h2.copyright a {
        text-decoration: none;
    }
    
    .footer-left {
        width: 50%;
    }
    
    .footer-right {
        width: 50%;
        text-align: end;
    }
    
    .icon-main {
        color: rgb(46, 46, 46);
        padding: 5px 10px;
        border: 2px solid rgb(182, 182, 182);
        border-radius: 5px;
        margin: 0px 5px;
        text-decoration: none;
        transition: all 0.6s ease;
    }
    
    .icon-main:hover a {
        color: white;
        background-color: #007aff;
        border-radius: 5px;
        transition: all 0.6s ease;
        text-decoration: none;
    }
    
    .icon-main:hover {
        color: white;
        background-color: #007aff;
        padding: 5px 10px;
        border: 2px solid #007aff;
        border-radius: 5px;
        transition: all 0.6s ease;
        margin: 0px 5px;
        text-decoration: none;
    }
    
    .footer-icon {
        display: flex;
        justify-content: end;
    }
    
    .Featuresimage img {
        width: 100%;
    }
    
    .icon-main {
        text-decoration: none;
        color: black;
    }
    
    @media(max-width:1120px) {
        .image-class::before {
            display: none;
        }
    }
    
    @media(max-width:991px) {
        .navbar-list {
            display: flex;
            gap: 9%;
            color: #dcdcdf;
            list-style: none;
        }
        .hero-inner.hero-left .bigtittle-txt {
            font-size: 36px;
        }
        h2.features-subtext {
            font-size: 36px;
        }
        p.features-subtext-small {
            font-size: 13px;
        }
        .Featuresimage img {
            width: 130%;
        }
        .features-list li.features-li {
            width: 100%;
        }
        h2.features-subtext {
            font-size: 25px;
        }
        .qulity-card {
            gap: 5px;
        }
        h2.powerful-subtext {
            font-size: 1.5rem;
        }
        h2.copyright {
            font-weight: 700;
            font-size: 11px;
        }
        .card {
            padding: 10px;
        }
        .powerfulimage img {
            width: 114%;
        }
        .Download-Section-main h2 {
            font-size: 1.5rem;
        }

        .view-main-text h1 {
            font-size: 29px !important;
            margin-top: 50px;
        }
    }
    
    @media(max-width:767px) {
        .video-section-main {
            height: 300px;
        }
        .video-popup-hide .mfp-iframe {
            height: 300px;
        }
        section.video-section {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .view-main-text h1 {
            color: white;
            text-align: center;
            font-size: 31px !important;
        }

        .uplode-card {
            width: 93% !important;
        }

        canvas#canvas {
            width: 100%;
            margin-top: -250px;
        }
    }
    
    @media(max-width:425px) {
        .herocontiner-main {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .hero-inner.hero-left {
            width: 100%;
        }
        h2.sub-txt {
            font-size: 14px;
        }
        .hero-inner.hero-left .bigtittle-txt {
            font-size: 22px;
        }
        .hero-inner.hero-left .tittle-txt {
            font-size: 17px;
        }
        .image-class img {
            margin-top: 28px;
        }
        .hero-inner.hero-right {
            width: 100%;
        }
        .powerful-solutions-main {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .powerful-inner.quality-right {
            width: 100%;
            margin-left: 5%;
        }
        .footer-main {
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
        }
        .footer-left {
            width: 100%;
        }
        h2.copyright {
            margin-top: 10px;
        }
        .quality-main {
            display: flex;
            flex-direction: column;
        }
        .premium-features-section h3 {
            font-size: 24px;
        }
        p.premium-features-subtext {
            font-size: 11px;
        }
        .main-card-section {
            flex-direction: column;
        }
        .card {
            width: 100%;
            height: 100%;
        }
        .features-main {
            flex-direction: column;
        }
        .features-inner.features-left {
            max-width: 100%;
        }
        .featres-inner.features-right {
            max-width: 100%;
        }
        .quality-inner.quality-left {
            width: 100%;
        }
        .quality-inner.quality-right {
            width: 100%;
        }
        .powerful-inner.quality-left {
            width: 100%;
        }
        .powerfulimage img {
            width: 100%;
        }
        h2.copyright {
            font-weight: 700;
            font-size: 10px;
        }
        .Featuresimage img {
            width: 100%;
        }
        .image-class img {
            width: 100%;
        }
        .footer-icon {
            justify-content: center;
        }
        .header-inner-main {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }
        .header-inner-main .header-inner {
            width: 100%;
        }
        .header-inner.header-right {
            gap: 15px;
            display: flex;
            align-content: flex-end;
            justify-content: flex-start;
        }
        .header-inner.header-right {
            gap: 15px;
            display: flex;
            align-content: flex-end;
            justify-content: flex-start;
        }
        .navbar-list {
            display: flex;
            gap: 10%;
            color: #dcdcdf;
            list-style: none;
            flex-wrap: wrap;
        }
        ul.navbar-list {
            line-height: 2;
            margin-top: 10px;
        }
        .hero-section {
            padding-top: 44%;
        }

        
    }
    
    @media(max-width:375px) {
        .hero-section {
            padding-top: 55%;
        }


        canvas#canvas {
          
            width: 300px;
           
            margin-top: -218px;
        }

       
    }
    /* 360view Screen */
    
    .converted-view {
        height: 100vh;
        margin: 0;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    
    #slider {
        width: 50%;
    }
    
    section.hero-section.view-header {
        height: 100vh;
    }
    
    .herocontiner-main {
        color: white;
        justify-content: center;
    }
    
    h1.herotext {
        font-size: 38px;
        font-weight: 600;
        text-align: center;
    }
    
    .view-herocontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    
    .view-main-text h1 {
        color: white;
        font-size: 36px;
    }
    
    .uplode-card {
        margin-top: 25px;
        display: flex;
        margin-right: 10px;
        margin-left: 10px;
        padding: 20px;
        width: 50%;
        height: 100%;
        border-radius: 12px;
        background: #f2f3f4;
        border: 1px solid #f2f3f4;
    }
    
    .card-in {
        padding-bottom: 20px;
        display: flex;
        border: dashed;
        width: 100%;
        border-radius: 8px;
        border-color: #43276f;
        align-items: center;
        flex-direction: column;
    }
    
    .fileicon {
        margin-top: -21px;
        margin-bottom: -10px;
    }
    
    .card-uplode-text {
        color: #040406;
        font-weight: 500;
        margin-top: 5px;
        text-align: center;
    }
    input#btn-submit {
        display:  none;
        font-weight: 600;
        margin-top: 10px;
        background-color: #43276f;
        color: white;
        border: solid 1px;
        padding: 5px 32px;
        border-radius: 6px;
    }


   
 
      h1.view-text {
        font-weight: 400;
        text-align: center;
        color: white;
        font-size: 32px;
    }

    .view-section-div {
        height: 100vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
      #slider {
        margin-top: 20px;
          margin-top: 20px;
            width: 70%;
            accent-color: #43276f;  
      }
      .view-txt {
        font-size:30px;
        font-family: proxima-nova, sans-serif;
      } 
      button.btn-Check-view {
        padding: 10px 25px;
        font-size: 15px;
        color: white;
        margin-top: 50px;
        text-align: center;
        border: #007aff;
        border-radius: 8px;
        background-color: #175cff;
        transition: 0.6s ease;
        border: 1px solid #175cff;
        cursor: pointer;
    }

    

    section.header-main-view {
        background: #43276f;
       
    }


   


    section.view-section {
        background-image: url("../img/lastbg.jpg");
        background-size: cover;
        background-repeat: no-repeat ;
    }